.containerForName {
  display: flex;
}
.containerImg {
  margin-right: 10px;
}
.containerP {
  text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.btn{
  background-color: transparent;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,.btn:focus{
  fill: rgb(231, 231, 231);
}
.td {
  background-color: rgb(165, 165, 165);
  padding: 15px;
  border: 1px solid black;
  text-align: center;
}
.select {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

