.modalClosed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(0);
}
.modalActive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1);
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.modal,
.active {
  transform: scale(1);
}